<footer class="site-footer outer">
            <section class="copyright">&copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> - All rights reserved - Powered by <a href="https://ghost.org/" target="blank">Ghost</a>.</section>
</footer>
