
<section class="share-post">
    <div>
        Artikel weiterempfehlen
    </div>
    <div class="share-post-icons">
        <ul class="share-icons horizontal-list">
            <li>
                <a class="social-icon icon-twitter"
                   href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="social-icon icon-linkedin"
                   href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'linkedin-share', 'width=850,height=530');return false;">
                <i class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>

</section>
